body {
    font-family: tahoma;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #f8f3d4;
    color: #f6416c;
  }
  
  .right {
    right: 0;
    background-color: #f6416c;
    color:#f8f3d4;
  }

  .page-title{
      left: 50%;
      transform: translate(25%);
      font-style: bold;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .search-box{
      background-color: #f6416c;
      height: 40px;
      border-radius: 40px;
      padding: 10px;
  }

  .search-box:hover > .search-input{
      width: 240px;
      padding: 0 6px;
  }

  .search-box:hover > .search-btn{
    background-color: #f8f3d4;
    color: #f6416c;
}

  .search-btn{
      color: #f8f3d4;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f6416c;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: 0.4s;
  }

  .search-input{
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: #f8f3d4;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
  }
  .search-input::placeholder{ /*Chrome, Firefox Opera, Safari 10.1+*/
      color: #f8f3d4;
  }
  .search-input:-ms-input-placeholder{/* IE 10-11*/
      color: #f8f3d4;
  }
  .search-input::-ms-input-placeholder{/*Edge*/
    color: #f8f3d4;
  }

  .sort-btn{
      text-decoration: none;
      float: right;
      color: #f8f3d4;
  }
  .text-right{
      text-align: right;
  }
  .text-center{
      text-align:center;
  }
  table {
      left:50%;
      transform: translate(5%);
      width: 90%;
      text-align: left;
  }
  th{
    border-bottom: 5px solid #f8f3d4;
  }
  td{
      width: 80px;
  }
  .table-footer{
    border-top: 5px solid #f8f3d4;
  }
  table, th, td {
    border-collapse: collapse;
  }

  .circle-box{
    background-color: #f8f3d4;
    color: #f6416c;
    width: 100px;
    height: 25px;
    border-radius: 40px;
    padding: 10px;
}
.add-btn{
    text-decoration: none;
    text-align: center;
}
.dummy{
    visibility: hidden;
}
.pagination-box{
    display: inline-block;
    
    /* height: 30px;
    width: 90px;
    color: #f6416c;
    background-color: #f8f3d4; */
}
.pagination-box a{
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #f8f3d4;
    color: #f6416c;
    font-style: bold;
    font-size: 15px;
    background-color: #f8f3d4;
}
.pagination-box a.active{
    background-color: #f6416c;
    border: 1px solid #f8f3d4;
    color: #f8f3d4;
}
.pagination-box a:hover:not(.active){
    background-color: #d8d5bb;
}